<p>Dear <%= student_name %>,</p>

<p style="width:640px;">Please see your grades below. The participation grade is compiled from your attendance record and participation in class, so the number you see now will be different at the end of the semester.</p>

</br>

<%= table %>
